nav li:first-child {
    border-left: 2px solid #415C87;
    border-right: 2px solid #415C87;
    background-color: #10131c;
}

nav li:hover{
    background-color: #415C87;
}

nav li:hover > a {
    color: white;
}

/* Styles pour la page*/
.titlelink{
    color: white;
    text-decoration: none;
}